# general
/.vscode
/.dockerignore
/bin
/doc
/tests
/vendor
/.dockerignore
/.editorconfig
/.prettierrc
/phpstan.neon
/phpunit.xml
/server.php

# git data
**/.git
**/.gitignore
**/.gitattributes

# env
.env*
!.env.prod
